/* Header login */

.header__login__principal {
    background-color: rgb(221, 29, 29);
}

.header__login {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: auto;
    z-index: 1000;
}

.profile-container {
    display: flex;
    margin-top: 8px;
    margin-bottom: 10px;
}

.p-profile {
    color: #6b6b6b;
}

.user {
    padding: 5px;
}

.social {
    margin-left: 6px;
}

.logo_facebook {
    color: #0040ff;
}

.logo_instagram {
    color: #e1306c;
}

.logo_youtube {
    color: #f81818;
}

.logo_twitter {
    color: #00aced;
}

.logo_facebook:hover, .logo_instagram:hover, .logo_youtube:hover, .logo_twitter:hover {
    transform: scale(1.2);
}

.icon__account {
    margin-right: 8px;
    color: #7c7c7c;
}

header {
    z-index: 1000;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background: #fff;
}

/* Header superior */

.header__superior {
    max-width: 1200px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    transition: all 300ms ease;
}

.logo img {
    height: 80px;
}

.logo div {
    color: rgb(75, 74, 74);
    border-radius: 10px;
    border: solid 1px;
    justify-content: center;
    align-items: center;
    display: flex;
    height: 80px;
    width: 250px;
    background-color: #bdc8e7;
    box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.5);
    cursor: default;
}

/* Barra menu */

.container__menu {
    width: 100%;
    height: 50px;
    background: #00695C;
    padding: 0px 20px;
    box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.5);
}

.menu_fixed {    
    position: fixed;
    top: 0;
    width: 100%;
}

.menu {
    max-width: 1200px;
    margin: auto;
    height: 100%;
}

nav {
    height: 100%;
    transition: all 300ms ease;
}

nav>ul {
    height: 100%;
    display: flex;
}

nav ul li {
    height: 100%;
    list-style: none;
    position: relative;
}

nav>ul>li:first-child>a {
    font-size: 20px;
    padding: 15px 20px;
}

nav>ul>li:first-child:hover>a {

    padding: 15px 20px;
}

nav>ul>li>a {
    text-decoration: none;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    padding: 14px;
    color: white;
    text-transform: uppercase;
    font-size: 14px;
    transition: all 300ms ease;
}

nav>ul>li>a:hover {
    transform: scale(1.1);
    background: #4DB6AC;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
}

#selected {
    transform: scale(1.1);
    background-color: #4DB6AC;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
}

/* Submenu */

nav ul li ul {
    width: 200px;
    display: flex;
    flex-direction: column;
    background: #fff;
    position: absolute;
    top: 70px;
    left: -5px;
    padding: 14px 0px;
    visibility: hidden;
    opacity: 0;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
    transition: all 300ms ease;
}

nav ul li:hover ul {
    visibility: visible;
    opacity: 1;
    top: 50px;
}

nav ul li ul::before {
    content: '';
    width: 0;
    height: 0;
    border-left: 12px solid transparent;
    border-right: 12px solid transparent;
    border-bottom: 12px solid #fff;
    position: absolute;
    top: -12px;
    left: 20px;
}

nav ul li ul li a {
    text-decoration: none;
    display: block;
    color: #009688;
    padding: 6px;
    padding-left: 14px;
    margin-top: 10px;
    font-size: 14px;
    text-transform: uppercase;
    transition: all 300ms ease;
}

nav ul li ul li a:hover {
    background: #4DB6AC;
    color: #fff;
    transform: scale(1.1);
    font-size: 14px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
}

/* Modal */



/* Elementos responsivos */

.icon__menu {
    font-size: 26px;
    color: #fff;
    cursor: pointer;
    width: 26px;
    height: 100%;
    display: none;
    align-items: center;
}

#label__check {
    width: 26px;
    height: 100%;
    display: none;
}

#check__menu {
    display: none;
}

/* Search */

.search {
    z-index: 10;
    padding: 0px 20px;
}

.search input {
    width: 300px;
    padding: 10px;
    outline: none;
}

.a:hover {
    color: rgb(141, 140, 140);
}

.search-box {
    position: absolute;
    width: 300px;
    background: #fff;
    padding: 5px;
    border-style: solid;
    display: flex;
    flex-direction: column;
    z-index: 1000;
    border-radius: 5px;
    border-color: rgb(238, 238, 238);
    overflow-y: auto;
    max-height: 250px;
    visibility: hidden;
}

.lupa {
    margin-right: 10px;
}

.arrow {
    transition: all 0.2s ease;
    margin-left: 5PX;
}

.dropdown:hover .arrow {
    transform: rotate(180deg);
}

#profile {
    display: none;
}

.dropbtn {
    background-color: #fff;
    color: rgb(0, 0, 0);
    padding: 8px;
    font-size: 14px;
    border: none;
    cursor: pointer;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    border-radius: 10px;
    position: absolute;
    display: none;
    right: 0;
    position: absolute;
    background-color: #f9f9f9;
    width: 200px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1000;
}

#showProfile {
    *width: 230px;
    *white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    transition: transform 0.5s ease;
}

.dropdown-content #settings:hover, #help:hover, #logout:hover, #logged-out:hover {
    margin: auto;
    border-radius: 10px;
    background-color: #eeeeee;
    /* transform: translateX(8%); */
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    *background-color: #3e8e41;
}







.hr {
    display: none;
}

.have_password {
    margin-top: 14px;
    color: 14px;
    color: #7997f1;
}

.have_password:hover {
    color: #3866f2;
}

.cta3 {
    text-align: start;
    color: #7997f1;
    font-size: 15px;
}

.cta3:hover {
    color: #1149f0;
}

/* Section 1 */

.section1 {
    margin-top: 300px;
}




@media screen and (max-width: 800px) {

    

    .search {
        display: none;
    }

    .header__superior {
        *padding: 10px;
        padding: 0;
    }

    .menu_fixed nav>ul {
        top: 46px;
    }

    .container__menu {
        padding: 10px;
        width: 100%;
    }

    .logo {
        display: none;
        margin: auto;
        margin-top: 10px;
    }

    nav>ul {
        flex-direction: column;
        background-color: #80CBC4;
        position: fixed;
        left: 0;
        top: 92px;
        width: 100%;
        height: 0px;
        transition: all 300ms ease;
        z-index: 100;
        opacity: 0;
        visibility: hidden;
    }

    nav>ul>li>a:hover {
        transform: scale(1);
    }

    nav ul li ul {
        left: 90px;
    }

    nav ul li:hover ul {
        top: 50px;
        z-index: 1;
    }

    nav>ul>li:first-child a {
        font-size: 20px;
        justify-content: center;
    }

    #selected {
        transform: scale(1);
    }

    /* #selected:hover {
        background-color: #009688;
        transition: all 1000ms ease;
        transform: translate(350px, 0);
    } */

    #label__check {
        display: block;
    }

    .icon__menu {
        display: flex;
    }

    #check__menu:checked~nav>ul {
        height: 300px;
        visibility: visible;
        opacity: 1;
    }



}